* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #2C2C2C;
  background-color: #ffffffff;
}

.main__container{
  width: 1280px;
  margin: 63px auto 30px auto;
}
.half__color{
  background: linear-gradient(to right, #2C2C2C 27%, #4BCAFF 30%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__title{
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 30px;
  text-decoration: none;
}

.header__nav{
  background: #35444F;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 40px 0 48px 0;
}

.header__nav-list{
  padding: 24px 40px 18px 40px;
  border-left: 1px solid #ffffffff;
  list-style-type: none;
}

.header__nav-list:last-child{
  border-right: 1px solid #ffffffff;
}

.header__nav-items{
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
}

.header__nav-list:hover {
  background-color: #222F3A;
}

.main__body{
  display: flex;
  justify-content: space-between;
}

.sidebar{
  width: 345px;
  margin: 0;
  padding: 0;
  border: 1px solid #000000;
  list-style-type: none;
}

.sidebar__nav-items{
  padding: 26px 45px;
  display: flex;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #495863;
}

.sidebar a:hover{
  background-color: #DBDBDB;
  color: #000000;
  padding-left: 80px;
}

.main__content{
  margin-left: 50px;
}

.main__image{
  width: 885px;
  height: auto;
  border: 1px solid #000000;
  transition: transform .2s; 
}

.main__image:hover{
  transform: scale(1.1);
}

.main__text{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;  
  margin: 35px 0;
}

.footer__content{
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
}

.footer__list{
  display: flex;
  align-items: center;
  list-style-type: none ;
  margin: 0;
  padding: 0;
}

.footer__items{
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
  text-decoration: none;
  margin-left: 40px;
}

.footer__items:hover{
  color: #3181A6;
  padding-bottom: 10px;
  border-bottom: 1px solid #3181A6;
}

.footer__text{
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  margin-right: 40px;
}